@import "modal";

$color-black: #000000;
$color-white: #ffffff;
$color-blue: #6495ed;

body {
  background: linear-gradient($color-black, $color-white);
  min-height: calc(100vh - 60px);
  padding-bottom: 60px;
  margin: 0;
}

.abrir-modal {
  color: $color-white;
  font-size: 1.2em;
  letter-spacing: 1px;
  background-color: linear-gradinet($color-black, $color-white);
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 20px auto 80px auto;
  border-radius: 2px;
  max-width: 140px;
  display: block;
  padding: 20px;
  font-family: monospace;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.5) inset,
    0px 2px 0px -1px rgba(0, 0, 0, 0.2), 0px 4px 0px -2px rgba(0, 0, 0, 0.15),
    0px 6px 0px -3px rgba(0, 0, 0, 0.1), 0px 8px 0px -4px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s east-out;
  &:hover {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.9) inset,
      0px 4px 0px -2px rgba(0, 0, 0, 0.2), 0px 8px 0px -4px rgba(0, 0, 0, 0.15),
      0px 12px 0px -6px rgba(0, 0, 0, 0.1),
      0px 16px 0px -8px rgba(0, 0, 0, 0.05);
  }
}

.btn {
	color: white;
	font-size: 1em;
	letter-spacing: 1px;
	background: linear-gradient($color-black);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	margin: 20px auto 20px auto;
	border-radius: 2px;
	max-width: 140px;
	display: block;
	padding: 15px;
	font-family: monospace;
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,.5) inset,
							0px 2px 0px -1px rgba(0,0,0,.2),
							0px 4px 0px -2px rgba(0,0,0,.15),
							0px 6px 0px -3px rgba(0,0,0,.1),
							0px 8px 0px -4px rgba(0,0,0,.05);
	transition: box-shadow .3s ease-out;
}